{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

  

  <h1 style="font-family: Arial, Helvetica, sans-serif;">Home</h1>

  <form action="/calculate">
    <label style="font-style: italic; font-family: Arial, Helvetica, sans-serif;" for="number">Enter an Integer Number to see if it is even or odd:</label><br>
    <input type="text" id="number" name="number"><br>
    <br>
    <input type="submit" value="Submit">
  </form> 

  {% endblock %}